<%- include('partials/header') -%>
<div class="hero min-h-200 bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="<%= pet.image%>" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Below is a list of vaccinations for <%= pet.name%></h1>
      <p class="py-6"><%= pet.name%> is a <%= pet.species%></p>      

      </div>
  </div>
</div>
<div class="bg-base-100">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <!-- For loop goes here -->
      <% for(var i=0; i< vaccine.length; i++) {%>
      <a href="#" class="group">
        <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
        <a href="#">
            <!-- link to individual vaccine image -->
            <img src="<%= vaccine[i].image %>" alt="Vaccine Record Image" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </a>
        </div>
        <h3 class="mt-4 text-sm text-gray-700"><%= vaccine[i].vaccine %></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"><%= vaccine[i].dateAdministered %></p>
      </a>
      <% } %>
    </div>
      
    </div>
  </div>
</div>

<%- include('partials/footer') -%>