<%- include('partials/splashheader') -%>
<!-- DeletePet Modal Put this part before </body> tag -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-secondary btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="text-lg font-bold">Are You Sure?</h3>
    <p class="py-4">If you delete this pet, you will also lose access to all vaccination records connected to this pet</p>
    <form action="/pet/deletePet/<%= pet.id %>?_method=DELETE" method="POST" class="col-3">
      <button class="btn btn-primary" type="submit">Delete This Pet</button>
      </form>
  </div>
</div>

<div class="hero min-h-200 bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="<%= pet.image%>" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold"><%= pet.name %></h1>
      <p class="py-6">Below is a list of vaccinations for your <%= pet.species%></p>
      <a href="/profile" class="col-3 btn btn-primary">Back to Profile</a>
      <a href="#newRecord" class="col-3 btn btn-primary">Add Vaccine</a>
      

      <!-- The button to open modal -->
<label for="my-modal-3" class="btn btn-primary modal-button">Delete Pet</label>




      <!-- <a href="#deletePet" class="col-3 btn btn-primary">Delete This Pet</a> -->
      
    </div>
  </div>
</div>

<!-- I think a table view of vaccinations goes here -->
<!-- this is where I'm going to add the petreport -->
<div class="bg-base-200" >
  <%- include('./petreport') -%>
</div>

<div class="bg-base-100">
  <h2 class="text-5xl text-center">Saved Vaccine Records</h2>

  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <!-- For loop goes here -->
      <% for( var i = 0; i < vaccine.length; i++) {%>
      <a href="#" class="group">
        <!-- TODO Link to individual vaccine image -->
        <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          <img src="<%= vaccine[i].image %>" alt="Vaccine Record Image" class="h-full w-full object-cover object-center group-hover:opacity-75">
          <!-- <span><%= vaccine[i].image %></span> -->
        </div>
        <h3 class="mt-4 text-sm text-gray-700"><%= vaccine[i].vaccine %></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"><%= vaccine[i].dateAdministered.toDateString() %></p>
      </a>
      <% } %>
    </div>
      
    </div>
  </div>
</div>
<!-- Add Vaccine Form Section -->
<%- include('./addvaccineform') -%>
      
<%- include('partials/footer') -%>