<%- include('partials/header') -%>
  

      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="<%= pet.image%>" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">
            <%= pet.name %>
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <div class="card-actions justify-end">
            <div class="badge badge-outline"><%= pet.species %></div> 
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      

<!-- Add Vaccine Form Section -->
      
      <div class="mt-5">
        <!-- <h2>Add a vaccine</h2> -->
        <!-- Vaccines Form needs to include: vaccine image dateAdministered -->
        <form action="/vaccine/createVaccine/" enctype="multipart/form-data" method="POST">
          <!-- <div class="mb-3">
            <label for="vaccine" class="form-label">Vaccine</label>
            <input type="text" class="form-control" id="vaccine" name="vaccine" placeholder="vaccine name">
            <input type="date" name="dateAdministered" id="dateAdministered">
            <input type="file" class="form-control" id="imageUpload" name="file">
            <input type="hidden" name="petid" id="petid" value="<%= pet.id %>">
          </div>
          <button type="submit" class="btn btn-primary"> Submit</button> -->

          <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h2 class="mb-8 text-3xl text-center">Add a Vaccination Record</h2>
                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        id="vaccine" name="vaccine" placeholder="vaccine name" />
                        
                    <input 
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        aria-describedby="dateAdministered" 
                        type="date" name="dateAdministered" id="dateAdministered"/>
                        
                    <input 
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        type="file" class="form-control" id="imageUpload" name="file" />
                        
                    <input type="hidden" name="petid" id="petid" value="<%= pet.id %>">
          
                    <button type="submit"
                        class="w-full text-center py-3 rounded bg-secondary text-secondary-content hover:bg-secondary-focus  my-1"
                    >Create Record</button>
                </div>
          
                
            </div>
          </div>

        </form>
      </div>



      <!-- List of vaccines -->
      
      
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

      <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Vaccines Saved for: <%= pet.name %></h1>
      <p class="py-6">Your pet deserves the best!  Here is a list of their vaccines :)</p>
      <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/profile">Return to My Pets</a>
        <!-- <a class="btn btn-primary" href="/feed">Return to Feed</a> -->
      </div>
    </div>
  </div>
</div>
<div class="bg-base-100">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    
    
    

    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <!-- For loop goes here -->
      <% for(var i=0; i< vaccine.length; i++) {%>
      <a href="#" class="group">
        <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          <img src="<%= vaccine[i].image %>" alt="Vaccine Record Image" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700"><%= vaccine[i].vaccine %></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"><%= vaccine[i].dateAdministered %></p>
      </a>
      <% } %>
      <!-- For loop ends here -->

      
      <!-- More products... -->
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

      
    </div>
  </div>

  <%- include('partials/footer') -%>