<%- include('partials/header') -%>

         <div class="bg-grey-lighter min-h-screen flex flex-col">
           <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
              <div class="card w-96 bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title"><strong>User Name</strong>: <%= user.userName %></h2>
                  <p><strong>Email</strong>: <%= user.email %></p>
                  <a href="/logout" class="col-3 btn btn-primary">Logout</a>
                  </div>
              </div>
              <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                  <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
                       <h1 class="mb-8 text-3xl text-center">Add a Pet</h1>
                        <input 
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="userName"
                            type="text" id="name" name="name" placeholder="What an adorable name!" />
                            
                        <input 
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            type="text" id="species" name="species" placeholder="Rabbit, Cat, Iguana, etc..." />
                            
                            <input 
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            type="file" class="form-control" id="imageUpload" name="file" />
                            
                                    
                            <button type="submit"
                            class="w-full text-center py-3 rounded bg-secondary text-secondary-content hover:bg-secondary-focus  my-1"
                        >Add Pet</button>
                    </div>
              
                </div>
              </div>
              
              
      <h2>LIST OF PETS</h2>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<pets.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/pet/<%= pets[i]._id%>">
              <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="<%= pets[i].image%>" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    <%= pets[i].name %>
                    <div class="badge badge-secondary"><%= pets[i].species %></div>
                  </h2>
                  <div class="card-actions justify-end">
                    <!-- <div class="badge badge-outline"> <%= pets[i].species %> </div>  -->
                    <!-- <div class="badge badge-outline">Products</div> -->
                  </div>
                </div>
              </div>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    <!-- </div>
  </div>
</div> -->
<%- include('partials/footer') -%>