<%- include('partials/header') -%>
<div class="hero min-h-200   bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there, <%= user.userName %></h1>
      <p class="py-6">Welcome to your profile page, </p>
      <% if (pets.length < 1){ %>
        <h2>You don't have any pets yet!  Add a pet to see your pets below</h2>
       <% }else{ %>
        <h2>Click on one of your pets below to see the list of their vaccinations</h2>
        <%}%>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      <a href="/addPet" class="col-3 btn btn-primary">Add Pet</a>
      </div>
  </div>
</div>
        
          
     <!-- this version works -->
       <div class="bg-base-100">
        <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
          <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            <!-- For loop goes here -->
            <% for(var i=0; i<pets.length; i++) {%>
            <a href="/pet/<%=  pets[i].id %>" class="group">
              <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                <img src="<%= pets[i].image %>" alt="Vaccine Record Image" class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <h3 class="mt-4 text-sm text-gray-700"><%= pets[i].name %></h3>
              <p class="mt-1 text-lg font-medium text-gray-900"><%= pets[i].species %></p>
            </a>
            <% } %>
            </div>
        </div>
      </div>
 
    
<%- include('partials/footer') -%>